*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
.externalNativeBuild

# With Android Studio 3.0.1 this launcher gets updated regularly with a timestamp, adding noise
# to our version control. Ignore it for now, even though we'd like to version it.
/.idea/runConfigurations/Tallinje.xml
